body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.app {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

